body, html{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}
#gameContainer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- helper classes --- */
.centre{
    width: 90vw;
    height: 80vh;
}

.hide{
    display: none !important;
}

.blur{
    backdrop-filter: blur(80px);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* --- START SCREEN --- */
#startWindow{
    display:grid;
    align-items: center;
    justify-items: center;
    color: rgb(255, 255, 255);

}
#startWindow p, #startWindow h1{
    width: 35vh;
}
#startWindow h1{
    align-self: end;
    border-bottom: solid 1px rgb(255, 255, 255);
    padding: 0 0 0.5em 0;
}
#startWindow p{
    align-self: start;


}

/* --- GAME --- */

#gameContainer{
    background-image: url(../images/bg.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(30%);
}

#gameWindow{
    display:grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 35% 30% 5% 30%;
}


/* button design taken from insperation and edited to suit needs of this project from
 --- https://getcssscan.com/css-buttons-examples ---                                   
 */

button {
    position: relative;
    overflow: hidden;
    border: none;
    color: #18181a;
    display: inline-block;
    font-size: 1em;
    line-height: 15px;
    padding: 18px 18px 17px;
    width: 60vw;
    height: 4em;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 4px 7px, rgba(0, 0, 0, 0.20) 0px 4px 7px;
}

button span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

button span:last-child {
    color: rgb(0, 0, 0);
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(255%) translateX(-50%);
    height: 0.4em;
    line-height: 13px;
    width: 40vw;
}

button:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(238, 170, 43);
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

button:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

button:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

#gameWindow div{
    grid-column: 1 / 2;
}
#question{
    grid-column: 2/4;
    color: rgb(255, 255, 255);
    text-align: center;
    place-self: end;  
    font-size: 2em;
}
#choiceOne, #choiceTwo{
    grid-column: 2/4;
    align-self: start;
    justify-self: center;
}
#choiceOne{
    align-self: end;
    margin-bottom: 1em;
}
#choiceTwo{
    margin-top: 1em;
}
#gameWindow h2{
    grid-column: 2/4;
    grid-row: 3/4;
    margin: 0;
    align-self: start;
    justify-self: center;
}

/* STATISTIC SCREEN */
#statWindow{
    display: grid;
    grid-template-rows: 80% 20%;

}

#statistics{
    align-self: center;
    justify-self: center;
    color: white;
    width: 85vw;
}

#nextQuestion{
    justify-self: center;
    align-self: end;
    margin-bottom: 1em;
}

.slideIn{
    animation: slide-in 1000ms;
}
@keyframes slide-in {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(120%);
    }
}

.slideOut{
    animation: slide-out 1000ms;
}
@keyframes slide-out {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
}